---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const isDarkTheme = false;

const aboutData = {
  title: "Hi!",
  image: "/images/work-pic.png",
};

const calculateYearDifference = (date: string) => {
  const birthDate = new Date(date).getTime();
  const now = new Date().getTime();
  const diff = now - birthDate;
  return Math.floor(diff / 31557600000);
};

const myAge = calculateYearDifference("1995-09-27");
const yearsProgramming = calculateYearDifference("2020-10-10");
---

<Layout title={aboutData.title}>
  <article
    class={`prose ${isDarkTheme ? "dark:prose-invert" : "prose-stone"} w-full max-w-none gap-4 flex flex-col items-center`}
  >
    {
      aboutData.image && (
        <div class="w-full flex justify-center">
          <Image
            class="object-cover object-center !m-0 aspect-square block border-2 border-gray-200 dark:border-gray-800"
            src={aboutData.image}
            alt=""
            width={150}
            height={150}
          />
        </div>
      )
    }
    <div class="mt-2">
      <h1 id="title">
        {aboutData.title}
      </h1>
      <div
        id="about-content"
        class="text-sm leading-relaxed text-gray-700 prose mt-4"
      >
        <span>
          {`I'm Marcel a ${myAge}-year-old software developer from Barcelona.`}
        </span>
        <br />
        <br />
        <span class="mt-1 block">
          {
            `With over ${yearsProgramming} years of experience, I specializing in React and TypeScript for`
          }
          frontend, and Node.js and Ruby for backend development and tooling.
        </span>
        <br />
        <span>
          Currently, I'm a fullstack developer at Stuart, and in my free time,
          I'm learning Rust and Go while contributing to open-source projects.
        </span>
      </div>
    </div>
  </article>
</Layout>

<style>
  #title {
    font-family: "Noto Serif Georgia";
    font-size: 30px;
    margin-bottom: 4px;
  }

  #about-content {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
  }
</style>
