---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { SITE_CONFIG } from "../config";
import { formatDate } from "../utils/dates";
import { calculateReadingTime } from "../utils/misc";
import { createResponsivePreview } from "../utils/text";
import type { Post } from "../types";

const allPosts = await getCollection("posts");
---

<Layout title={SITE_CONFIG.title}>
  <main>
    {
      allPosts
        .filter((post: Post) => !post.data.draft)
        .map(async (post: Post) => {
          const href = "/blog/" + post.slug;
          const date = new Date(post.data.date);
          const formattedDate = formatDate(date);
          const readingTime = calculateReadingTime(post.body);
          const preview = createResponsivePreview(post.body);

          return (
            <div class="flex flex-col mb-8">
              <a
                id="post-title"
                class="hover:underline hover:text-[#424949] dark:text-[#d1d5db] dark:hover:text-white"
                href={href}
              >
                {post.data.title}
              </a>
              <a id="post-date" class="mt-1">
                {formattedDate} -
                <span id="reading-time" class="ml-1">
                  {readingTime} m read
                </span>
              </a>
              <div
                id="post-preview"
                class="mt-4 overflow-hidden"
              >
                <span class="block sm:hidden">{preview.mobile}</span>
                <span class="hidden sm:block">{preview.desktop}</span>
              </div>
            </div>
          );
        })
    }
  </main>
</Layout>

<style>
  nav #logo {
    font-family: var(--font-pixel);
    font-size: 36px;
  }

  nav #right-navbar a {
    font-family: var(--font-serif);
    font-size: 24px;
    font-weight: regular;
  }

  #post-title {
    font-family: var(--font-serif);
    font-size: 24px;
  }

  :global(html:not(.dark) #post-title) {
    color: #000000;
  }

  :global(html:not(.dark) #post-title:visited) {
    color: #000000;
  }

  @media (min-width: 640px) {
    #post-title {
      font-size: 30px;
    }
  }

  #post-date {
    font-family: var(--font-mono);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-muted);
  }

  #post-preview {
    font-family: var(--font-mono);
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    line-height: 1.4;
  }
</style>
